body {
    width: 33%;
}

button {
    font-size: 18px;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 36px 36px;
}

.result {
    background-color: lightgray;
    border: 2px solid black;
    display: block;
    height: 48px;
    font-size: 20px;
}

.number-btn {
    background-color: lightgreen;
    color: brown;
}

.control-btn {
    background-color: darkgreen;
    color: white;
}

.operator-btn {
    background-color: black;
    color: red;
}
