body {
    width: 33%;
}

button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0;
    float: left;
}

.result {
    background-color: lightgray;
    border: 2px solid black;
    display: block;
    height: 48px;
    font-size: 20px;
}

.number-btn {
    background-color: lightgreen;
    color: brown;
}

.control-btn {
    background-color: darkgreen;
    color: white;
}

.operator-btn {
    background-color: black;
    color: red;
}
